:root {
    --transition-speed: 0.5s;
}

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
}

body {
    height: 100vh;
    width: 100vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* background: #434750; */
}

.container {
    max-width: 1200px;

    display: flex;
    justify-content: space-between;
}

/* ---------------------------------------------------   Styles for about me section */
img {
    height: 200px;
}

h1 {
    font-size: 60px;
    text-align: left;
    /* background-color: green; */
    padding-right: 200px;
}

.bigger-font {
    font-size: 70px;
}

.color-blue {
    color: #33a3ee;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.1);
    text-shadow: -1px -1px rgba(0, 0, 0, 0.1);
}

.developer {
    text-transform: uppercase;
    font-size: 80px;
    letter-spacing: 5px;
}

/* ---------------------------------------------------   Styles for the Categories */
ul {
    position: relative;
    transform: skewY(-15deg);
}

ul li {
    position: relative;
    list-style: none;
    width: 400px;
    height: 100px;
    background: #3e3f46;
    padding: 15px;
    z-index: var(--i);
    transition: var(--transition-speed);
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.4);
}

ul li::before {
    content: '';
    position: absolute;

    top: 0%;
    left: -40px;

    width: 40px;
    height: 100%;
    background: #2e3133;
    transform-origin: right;
    transform: skewY(45deg);
    transition: var(--transition-speed);
}

ul li:hover::before {
    background: #1f5378;
}

ul li::after {
    content: '';
    position: absolute;

    top: -40px;
    left: 0%;

    width: 100%;
    height: 40px;
    background-color: #35383e;
    transform-origin: bottom;
    transform: skewX(45deg);
    transition: var(--transition-speed);
}

/* we make the shadow ony for the last list item */
ul li:last-child::after {
    box-shadow: -150px 150px 20px rgba(0, 0, 0, 0.4);
}

ul li:hover::after {
    background: #2982b9;
}

ul li:hover {
    background: #33a3ee;
    transform: translateX(-50px);
}

ul li a {
    text-decoration: none;
    color: rgb(216, 216, 216);
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: var(--transition-speed) all linear;
}

/* when you hover over "li" the styles will aply to "a" */
ul li:hover a {
   color: #fff;
   font-weight: 700f;
}